<h2 class="blogs-header" style="margin: 2rem auto;">Recent Posts</h2>
<section id="blogs-section">
    <div class="blogs-grid">
        <div class="blog-card">
            <a href="https://medium.com/@wweziza/building-an-http-server-in-x86-assembly-a-deep-dive-into-low-level-web-development-c79b157c8070" target="_blank">
                <div class="platform-header">Medium</div>
            </a>            
            <a href="https://medium.com/@wweziza/building-an-http-server-in-x86-assembly-a-deep-dive-into-low-level-web-development-c79b157c8070" target="_blank">
                <div class="blog-title">
                    Medium - Building an HTTP Server in x86 Assembly: A Deep Dive into Low-Leve...
                </div>
                <div class="blog-description">
                    What if we could build a web server from scratch, using one of the lowest-level programming languages available?
                </div>
            </a>            
            <div class="repo-card">
                <img src="https://media.licdn.com/dms/image/v2/D5603AQHsNjVhI61hUw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1727172976031?e=1735171200&v=beta&t=KNQ2oSgtbDEb_yzaJwjE3DbAL9GFbw8jY-mbSnx8M-Q" alt="Profile picture" class="repo-image"/>
                <div class="repo-content">
                    <div class="repo-name">wweziza/building-an-http-server-in-x86-assembly-a-deep-dive-into-low...</div>
                    <div class="repo-description">Building an HTTP Server in x86 Assembly: A Deep Dive into Low-Level Web Development</div>

                </div>
            </div>
        </div>
    </div>
</section>