<h2 style="margin: 2rem auto;">Playground</h2>
<section class="playground-section">
    <ul class="playground-list">
        <a href="https://random-quote-six-mu.vercel.app/" class="playground-item" target="_blank">
            <span class="playground-id">001</span>
            <span class="playground-name">Random Quote</span>
            <span class="playground-arrow">→</span>
        </a>
        
        <a href="https://markdown-previewer-two-dusky.vercel.app/" class="playground-item" target="_blank">
            <span class="playground-id">002</span>
            <span class="playground-name">Markdown Previewer</span>
            <span class="playground-arrow">→</span>
        </a>
        <a href="https://random-quote-six-mu.vercel.app/" class="playground-item" target="_blank">
            <span class="playground-id">001</span>
            <span class="playground-name">Random Quote</span>
            <span class="playground-arrow">→</span>
        </a>
        <a href="https://drum-machine-teal-three.vercel.app/" class="playground-item" target="_blank">
            <span class="playground-id">003</span>
            <span class="playground-name">Drum Machine</span>
            <span class="playground-arrow">→</span>
        </a>
        <a href="hhttps://calculator-delta-taupe.vercel.app/" class="playground-item" target="_blank">
            <span class="playground-id">004</span>
            <span class="playground-name">Calculator</span>
            <span class="playground-arrow">→</span>
        </a>       
        <a href="https://25-5-clock-sage.vercel.app/" class="playground-item" target="_blank">
            <span class="playground-id">005</span>
            <span class="playground-name">25+5 clock</span>
            <span class="playground-arrow">→</span>
        </a>        
    </ul>
</section>