<section id="projects">
    <h2>Featured Projects</h2>
    <div class="projects">
        <a href="https://swastamita.tech" class="project-card" target="_blank">
            <h3>Swastamita</h3>
            <p>Company profile website with interactive layout, built with nextjs and tailwind.</p>
            <div class="tags">
                <span class="tag">NextJS 15.x</span>
                <span class="tag">Tailwind</span>
            </div>
        </a>
        <a href="https://github.com/wweziza/apakahLeaked" class="project-card" target="_blank">
            <img src="https://github.com/wweziza/apakahLeaked/blob/main/docs/map.jpeg?raw=true" alt="Project 1">
            <h3>apakahLeaked</h3>
            <p>A haveibeenpwned inspired to check if your E-KTP (Indonesian Electronic ID Card) has been compromised in any known data breaches.</p>
            <div class="tags">
                <span class="tag">Laravel 11</span>
                <span class="tag">MySQL</span>
                <span class="tag">PHP 8.2</span>
                <span class="tag">Docker</span>
                <span class="tag">AES-256 Encryption</span>
            </div>
        </a>
        
         <a href="https://lswstore.vercel.app" class="project-card" target="_blank">
            <img src="https://github.com/wweziza/lswstore/blob/main/docs/images/topup.jpg?raw=true" alt="Project 1">
            <h3>LSW.ink</h3>
            <p>A game topup service website integrated with Midtrans and VIP-Reseller, the game and product are dynamic.</p>
            <div class="tags">
                <span class="tag">Next.js</span>
                <span class="tag">MySQL</span>
                <span class="tag">Midtrans-client</span>
            </div>
        </a>

         <a href="https://swdm.me" class="project-card" target="_blank">
            <img src="images/swdm.jpg" alt="Project 2">
            <h3>Secret Weapon</h3>
            <p>Secret Weapon official website; tracker, user-management, homepage responsible for 44K active users.</p>
            <div class="tags">
                <span class="tag">Next.js</span>
                <span class="tag">Discord-api</span>
                <span class="tag">RESTful-API</span>
                <span class="tag">Shadcn-ui</span>
            </div>
        </a>
         <a href="https://github.com/Club-Los-Santos" class="project-card" target="_blank">
            <img src="images/lsw.jpg" alt="Project 2">
            <h3>LSW Framework</h3>
            <p>LSW framework for sa-mp, that works for almost 3 years development, many tech stacked used: bcrypt, discord-api, discord.js, mysql, 3DTry, ColAndreas, etc.</p>
            <div class="tags">
                <span class="tag">Pawn</span>
                <span class="tag">C++</span>
                <span class="tag">MySQL</span>
            </div>
        </a>
         <a href="https://lsrp.world" class="project-card" target="_blank">
            <img src="images/lsrp.jpg" alt="Project 2">
            <h3>LS: World</h3>
            <p>LSW website platform with user interaction: support, character management, settings, top-up.</p>
            <div class="tags">
                <span class="tag">Next.js</span>
                <span class="tag">Node.js</span>
                <span class="tag">MySQL</span>
                <span class="tag">Express</span>
                <span class="tag">Discord.js</span>
            </div>
        </a>
         <a href="https://lsw-ink.vercel.app/" class="project-card" target="_blank">
            <img src="images/brandlsw.jpg" alt="Project 2">
            <h3>brand.lsw.ink</h3>
            <p>A clothing platform with seamless user experience.</p>
            <div class="tags">
                <span class="tag">Next.js</span>
                <span class="tag">Express</span>
                <span class="tag">MongoDB</span>
            </div>
        </a>
         <a href="https://github.com/wweziza/asm-http" class="project-card" target="_blank">
            <img src="images/asmhttp.jpg" alt="Project 2">
            <h3>asm-http</h3>
            <p>x86 assembly-http server; Provide lightweight, simple, also support parsing request made with assembly.</p>
            <div class="tags">
                <span class="tag">x86 ASM</span>
            </div>
        </a>
         <a href="https://github.com/wweziza/asm-encryption" class="project-card" target="_blank">
            <h3>Assembly Encryption</h3>
            <p>Encryption with XOR Cipher method written in Assembly, final week project for Harvard Certification CS50.</p>
            <div class="tags">
                <span class="tag">x86 ASM</span>
            </div>
        </a>
    </div>
</section>